
#todo-list {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.list-item{
    background-color: lightblue;
    border-radius: 1rem;
    padding: 1rem;

    display: flex;
    justify-content: space-around;
    border: 10px;
    &:hover,
    &:focus-within{
        outline: 0.2rem outset white;
    }
}

.list-item button{
    font-size: 2rem;
    width: 28px;
    border: 0;
    background: none;
    color: coral;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;

    &:hover{
        color: rgb(222, 105, 63);
    }
    &:first-of-type{
        margin-right: 0.5rem;
    }
}

.list-item input[type="text"]{
    margin: 0rem 0.5rem;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1rem;
    outline: none;
    &:focus{
        border-bottom: 0.2rem solid lightcoral;
    }
}
.list-item.complete input[type="text"]{
    text-decoration: line-through;
}

.list-item.complete{
    opacity: 0.7;
}